Enron scandal
The Enron email dataset contains approximately 500,000 emails generated by employees of the Enron Corporation.
https://www.kaggle.com/wcukierski/enron-email-dataset

In [3]:
import pandas as pd

enron = pd.read_csv('emails.csv.zip')
enron

,file,message
0,allen-p/_sent_mail/1.,Message-ID: <18782981.1075855378110.JavaMail.e...
1,allen-p/_sent_mail/10.,Message-ID: <15464986.1075855378456.JavaMail.e...
2,allen-p/_sent_mail/100.,Message-ID: <24216240.1075855687451.JavaMail.e...
3,allen-p/_sent_mail/1000.,Message-ID: <13505866.1075863688222.JavaMail.e...
4,allen-p/_sent_mail/1001.,Message-ID: <30922949.1075863688243.JavaMail.e...
...,...,...
517396,zufferli-j/sent_items/95.,Message-ID: <26807948.1075842029936.JavaMail.e...
517397,zufferli-j/sent_items/96.,Message-ID: <25835861.1075842029959.JavaMail.e...
517398,zufferli-j/sent_items/97.,Message-ID: <28979867.1075842029988.JavaMail.e...
517399,zufferli-j/sent_items/98.,Message-ID: <22052556.1075842030013.JavaMail.e...
517400,zufferli-j/sent_items/99.,Message-ID: <28618979.1075842030037.JavaMail.e...

In [4]:
print(enron.loc[1].message)

Message-ID: <15464986.1075855378456.JavaMail.evans@thyme>
Date: Fri, 4 May 2001 13:51:00 -0700 (PDT)
From: phillip.allen@enron.com
To: john.lavorato@enron.com
Subject: Re:
Mime-Version: 1.0
Content-Type: text/plain; charset=us-ascii
Content-Transfer-Encoding: 7bit
X-From: Phillip K Allen
X-To: John J Lavorato <John J Lavorato/ENRON@enronXgate@ENRON>
X-cc:
X-bcc:
X-Folder: \Phillip_Allen_Jan2002_1\Allen, Phillip K.\'Sent Mail
X-Origin: Allen-P
X-FileName: pallen (Non-Privileged).pst

Traveling to have a business meeting takes the fun out of the trip.  Especially if you have to prepare a presentation.  I would suggest holding the business plan meetings here then take a trip without any formal business meetings.  I would even try and get some honest opinions on whether a trip is even desired or necessary.

As far as the business meetings, I think it would be more productive to try and stimulate discussions across the different groups about what is working and what is not.  Too often the presenter speaks and the others are quiet just waiting for their turn.   The meetings might be better if held in a round table discussion format.

My suggestion for where to go is Austin.  Play golf and rent a ski boat and jet ski's.  Flying somewhere takes too much time.

In [6]:
# We want to figure out who was sending those emails
# Extracting the expressions of an email from the web [str.extract]
matches = enron.message.str.extract(r'From: ([a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+)')
matches

                              0
0       phillip.allen@enron.com
1       phillip.allen@enron.com
2       phillip.allen@enron.com
3       phillip.allen@enron.com
4       phillip.allen@enron.com
...                         ...
517396  john.zufferli@enron.com
517397  john.zufferli@enron.com
517398  john.zufferli@enron.com
517399  john.zufferli@enron.com
517400  john.zufferli@enron.com

[517401 rows x 1 columns]

In [7]:
# Added a title From instead of 0
matches = enron.message.str.extract(r'From: (?P<from>[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+)')
matches

                           from
0       phillip.allen@enron.com
1       phillip.allen@enron.com
2       phillip.allen@enron.com
3       phillip.allen@enron.com
4       phillip.allen@enron.com
...                         ...
517396  john.zufferli@enron.com
517397  john.zufferli@enron.com
517398  john.zufferli@enron.com
517399  john.zufferli@enron.com
517400  john.zufferli@enron.com

[517401 rows x 1 columns]

In [8]:
matches['from'].value_counts()

kay.mann@enron.com           16735
vince.kaminski@enron.com     14368
jeff.dasovich@enron.com      11411
pete.davis@enron.com          9149
chris.germany@enron.com       8801
                             ...
kammmac@netshel.net              1
ameliapower@hotmail.com          1
thavell@aclu-il.org              1
terri_laine@patagonia.com        1
ingjald@shaw.ca                  1
Name: from, Length: 20290, dtype: int64

In [10]:
matches['from'].value_counts()[:10]

kay.mann@enron.com               16735
vince.kaminski@enron.com         14368
jeff.dasovich@enron.com          11411
pete.davis@enron.com              9149
chris.germany@enron.com           8801
sara.shackleton@enron.com         8777
enron.announcements@enron.com     8587
tana.jones@enron.com              8490
steven.kean@enron.com             6759
kate.symes@enron.com              5438
Name: from, dtype: int64